<section>
  <h1>ngStyle Section</h1>
  <app-ng-style></app-ng-style>
</section>

<section>
  <h1>ngClass Section</h1>
  <app-ng-class></app-ng-class>
</section>

<section>
  <h1>ngIf Section</h1>
  <app-ng-if></app-ng-if>
</section>

<section>
  <h1>ngFor Section</h1>
  <app-ng-for></app-ng-for>
</section>

<section>
  <h1>ngFor with Form Section</h1>
  <app-ng-for-form></app-ng-for-form>
</section>

<section>
  <h1>ngSwitch Section</h1>
  <app-ng-switch></app-ng-switch>
</section>

<section>
  <h1>ng-template Section</h1>
  <app-ng-template></app-ng-template>
</section>

<section>
  <h1>ng-container Section</h1>
  <app-ng-container></app-ng-container>
</section>

<section>
  <h1>ng-content Section</h1>
  <app-ng-content>
    <p>My name is <strong>Morgan</strong>, nice to meet you.</p>
    <p>I want a beer, please.</p>
  </app-ng-content>
</section>
