<section>
  <h1>Input binding</h1>
  <app-input-binding
      firstName="Morgan"
      lastName="Espindola"
      [ageIn]="ageOut">
    </app-input-binding>
</section>

<section>
  <h1>Event emmiter</h1>
  <app-event></app-event>
</section>

<section>
  <h1>Child component list</h1>
  <app-clients></app-clients>
</section>

<section>
  <h1>Template Variable and ViewChild</h1>
  <app-parent-child></app-parent-child>
</section>

<section>
  <h1>ngOnChange</h1>
  <app-on-changes></app-on-changes>
</section>

<section>
  <h1>Input interception</h1>
  <app-intercepting></app-intercepting>
</section>
