<h1>My first component</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias officia quidem alias nam aperiam nisi dolor unde ratione, aspernatur doloremque sunt quisquam facere nulla. Officiis!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti expedita sed quidem, error voluptatum, nihil cumque dolor officia repellat molestiae officiis delectus similique eos in culpa, ex vero commodi quaerat deleniti natus minus qui! Dolores aperiam quaerat ex! Aliquid fuga ea possimus officia temporibus, dolore placeat qui magnam soluta ipsam ipsum illo accusantium quae ullam dolor id aspernatur amet quos iusto? Non labore, iusto illum expedita laborum accusamus sequi repudiandae maiores mollitia rerum, dolorem laboriosam voluptate deleniti animi repellat soluta ipsam sed eveniet. Minima consectetur enim deleniti quia beatae porro. Veniam, alias harum. Dolores dolorem possimus reiciendis inventore numquam pariatur?</p>


<myapp-my-second></myapp-my-second>
